<ul>
<% @cities.each do |city| %>
    <li data-city-id= <%= city.id %>
    data-city-name= <%= city.name %>
    data-city-latitude= <%= city.latitude %>
    data-city-longitude= <%= city.longitude %>
    
    class="city-click">
    
      <%= city.name %>
    </li>
<% end %>
</ul>