<div class="info">
  <div class="profile-user-image">
    <%= image_tag(current_user.image)  %>
  </div>

  <div class="profile-user-details">
    <h1><%= current_user.name %></h1>
    <h4><%= current_user.city.name %></h4>
  </div>

</div>


<div class="profile-places">
  <table id="current-user-places-table">
    <% current_user.places.each do |place| %>
    <tr>
      <td>
        <%= place.title %>
      </td>
      <td>
        <%= place.user.city.name %>
      </td>
      <% end %>
    </tr>
  </table> 
</div>