<div id="city-nav" class="col-md-2">
  <%= render 'city_list' %>
</div>

<div class="partial col-md-8 col-md-offset-1">

  <div id="main-map-view" class="col-md-8"> 
    <%= render 'main_map_view' %>
  </div>


  <div id="current-user-view" class="col-md-8 center-float"> 
    <%= render 'current_user_profile' %>
  </div>

  <div id="place-profile" class="col-md-8 center-float"> 
    <%= render 'place_profile' %>
  </div>

  <div id="city-view" class="col-md-8 below"> 
    <%= render 'city_view' %>
  </div>

  <div id="user-profile" class="col-md-8 center-float"> 
    <%= render 'user_profile' %>
  </div>

</div>

